/* General Styles */
body {
    font-family: 'Inter';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar Styles */
.navbar {
    background-color: #005631;
    height: 68px;
    width: 70%;
    margin: 45px auto;
    border-radius: 20px;
    padding: 0.5rem;
    box-shadow: 0 0px 45px rgba(189, 189, 189, 0.531);
}

.navbar-brand {
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    transition: 0.3s;
    padding: 0 22px 0 40px;
}

.signin-button {
    background-color: #ffffff;
    color: #005631;
    font-size: 14px;
    padding: 10px 40px;
    border-radius: 12px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.signin-button:hover {
    background-color: #005631;
    color: white;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #ffffff;
    font-weight: 350;
}

.nav-link:hover,
.nav-link.active {
    color: #ADADAD;
}

/* Home Page Styles */
.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 4.9rem;
    color: #000000;
    margin-bottom: 1rem;
    font-weight: 600;
}

.home-p {
    font-size: 1.2rem;
    color: #ADADAD;
    margin-bottom: 2rem;
}

.btn {
    background-color: #005631;
    color: #fff;
    font-size: 14px;
    padding: 10px 40px;
    border-radius: 12px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.btn:hover {
    background-color: #004d2a;
}

.image-left, .image-right, .image-left-duplicate, .image-right-duplicate {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    width: 350px;
}

.image-left, .image-left-duplicate {
    left: 3%;
    transform: translateY(-50%) rotate(-10deg);
}

.image-right, .image-right-duplicate {
    right: 3%;
    transform: translateY(-50%) rotate(10deg);
}

.image-left-duplicate {
    z-index: 1;
    top: 70%;
    left: 13%;
    transform: translateY(-50%) rotate(13deg);
}

.image-right-duplicate {
    z-index: 1;
    top: 70%;
    right: 13%;
    transform: translateY(-50%) rotate(-13deg);
}

/* About Us Section Styles */
#AboutUs {
    height: 170vh;
    padding: 200px 0;
}

h2 {
    font-size: 2.8rem;
    font-weight: 630;
    color: #000;
    letter-spacing: 0.5px;
    margin-left: 17%;
}

.about-us {
    font-size: 1.2rem;
    width: 91%;
    color: #9D9D9D;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-align: justify;
}

#Team {
    margin-top: 100px;
}

#Team img {
    width: 40px;
    height: 40px;
}

#Team h3 {
    font-size: 3rem;
    font-weight: 630;
    color: #000;
    letter-spacing: 0.5px;
}

.team-description {
    padding-top: 20px;
    font-size: 1.1rem;
    color: #9D9D9D;
    line-height: 1.6;
    letter-spacing: 0.5px;
}

/* Grid and Card Styles */
.container {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 90px;
    justify-content: center;
}

@media (min-width: 640px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card {
    top: 50px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    color: white;
    position: relative;
    overflow: hidden;
    height: 510px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: none;
    outline: none;
}

.card-content {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    height: 95px;
    border-radius: 15px;
    text-align: center;
    position: absolute;
    bottom: 15px;
    width: 92%;
    box-sizing: border-box;
    left: 50%;
    transform: translateX(-50%);
}

.name {
    font-size: 1.2rem;
    font-weight: bold;
    position: relative;
    z-index: 1;
    color: rgb(0, 0, 0);
}

.role {
    font-size: 1rem;
    opacity: 0.8;
    position: relative;
    z-index: 1;
    color: #9D9D9D;
}

/* How It Works Section Styles */
#HowItWorks {
    height: 150vh;
    padding-top: 140px;
}

#theme h3 {
    font-size: 3rem;
    font-weight: 630;
    color: #000;
    letter-spacing: 0.5px;
}

.hit-description {
    padding-top: 20px;
    font-size: 1.1rem;
    color: #9D9D9D;
    line-height: 1.6;
    letter-spacing: 0.5px;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
    padding: 100px 0;
}

.containerTM {
    width: 50%;
    padding: 40px 50px;
    position: relative;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

.tm-sub {
    font-size: 1.5rem;
    color: #005631;
    margin-bottom: 20px;
    font-weight: 600;
}

.timeline-desc {
    color: #9D9D9D;
}

@keyframes movedown {
    0% {
        transform: translateY(-30px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.containerTM:nth-child(1) {
    animation-delay: 0s;
}
.containerTM:nth-child(2) {
    animation-delay: 3s;
}
.containerTM:nth-child(3) {
    animation-delay: 5s;
}

.text-box {
    padding: 25px 35px;
    background: #F1F1F1;
    position: relative;
    border-radius: 25px;
    font-size: 15px;
}

.container-left {
    left: 0;
}

.container-right {
    left: 50%;
}

.containerTM img {
    position: absolute;
    width: 40px;
    right: -20px;
    z-index: 10;
}

.container-right img {
    left: -20px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 90%;
    background: #005631;
    left: 50%;
    top: 0;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0%;
    }
    100% {
        height: 80%;
    }
}

/* Application Section Styles */
#Application {
    height: 95vh;
    display: flex;
    justify-content: flex-end;
    margin-right: 270px;
    align-items: center;
    padding: 1rem;
}

.wrapper {
    padding-top: 150px;
    display: flex;
    gap: 6rem;
    max-width: 1000px;
    width: 40%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    cursor: grab;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.wrapper::-webkit-scrollbar {
    display: none;
}

.slider {
    min-width: calc(38% - .5rem);
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    scroll-snap-align: start;
    user-select: none;
}

.slider img {
    width: 125%;
    height: 250%;
    object-fit: cover;
}

.application {
    margin-left: 270px;
    padding-top: 200px;
}

.main-app {
    font-size: 2.8rem;
    font-weight: 630;
    color: #000;
    letter-spacing: 0.5px;
}

.app-desc {
    padding-top: 20px;
    font-size: 17px;
    color: #9D9D9D;
    line-height: 1.6;
    letter-spacing: 0.5px;
    margin-bottom: 90px;
    max-width: 80%;
    text-align: justify;
}

/* FAQ Section Styles */
#FAQ {
    height: 130vh;
    padding-top: 140px;
}

#faq h3 {
    font-size: 3rem;
    font-weight: 630;
    color: #000;
    letter-spacing: 0.5px;
}

.faq-description {
    padding-top: 20px;
    font-size: 1.1rem;
    color: #9D9D9D;
    line-height: 1.6;
    letter-spacing: 0.5px;
    margin-bottom: 90px;
}

.faq-card1, .faq-card2, .faq-card3, .faq-card4 {
    border-radius: 25px;
    padding: 30px;
    width: 90%;
    text-align: left;
    backface-visibility: hidden;
}

.faq-card1 {
    background-color: #005631;
    color: white;
    transform: rotate(-4deg);
}

.faq-card2 {
    background-color: #ECD400;
    color: white;
    transform: rotate(4deg);
}

.faq-card3 {
    background-color: #B22727;
    color: white;
    transform: rotate(-4deg);
}

.faq-card4 {
    background-color: #3935A3;
    color: white;
    transform: rotate(4deg);
}

.faq-card h4 {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 55px;
}

.faq-card p {
    font-size: 1rem;
    margin-bottom: 100px;
    font-weight: 350;
}

.faq-card1 .btn, .faq-card2 .btn, .faq-card3 .btn, .faq-card4 .btn {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 10px 20px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.faq-card1 .btn {
    color: #005631;
}

.faq-card2 .btn {
    color: #ECD400;
}

.faq-card3 .btn {
    color: #B22727;
}

.faq-card4 .btn {
    color: #3935A3;
}

.faq-card1 .btn:hover {
    background-color: #004d2a;
    color: white;
}

.faq-card2 .btn:hover {
    background-color: #ECD400;
    color: white;
}

.faq-card3 .btn:hover {
    background-color: #B22727;
    color: white;
}

.faq-card4 .btn:hover {
    background-color: #3935A3;
    color: white;
}

/* Modal Styles */
.modal-content {
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    height: 800px;
    max-width: 900px;
    margin: auto;
    
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}


.modal-body {
    color: #9D9D9D;
}

.modal-title {
    font-size: 1.4rem;
    font-weight: 600;
}


.modal-dialog {
    padding-top: 35px;
}







/* Contact Us Section Styles */
#ContactUs {
    height: 100vh;
    padding-top: 170px;
}

.contact-us-section {
    padding: 50px 0;
    width: 79%;
    margin: 0 auto;
}

.contact-us-section h6 {
    font-size: 3rem;
    font-weight: 630;
    color: #000;
    letter-spacing: 0.5px;
}

.contact-us {
    padding-top: 20px;
    font-size: 1.1rem;
    color: #9D9D9D;
    line-height: 1.6;
    letter-spacing: 0.5px;
    margin-bottom: 90px;
}

.contact-form {
    background-color: #F1F1F1;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

.contact-form h3 {
    margin-bottom: 60px;
    font-weight: 600;
}

.contact-form .form-label {
    font-weight: bold;
    margin-bottom: 10px;
}

.contact-form .form-control {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 10px;
    margin-bottom: 15px;
}

.contact-form .btn-primary {
    background-color: #004d2a;
    border: none;
    width: 100%;
    height: 43px;
    margin-top: 20px;
}

.contact-form .btn-primary:hover {
    background-color: #004d2a;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
    .image-left, .image-left-duplicate, .image-right, .image-right-duplicate {
        display: none;
    }

    .navbar {
        width: 90%;
    }

    .navbar-brand {
        font-size: 18px;
    }

    .signin-button {
        font-size: 12px;
        padding: 8px 30px;
    }

    .home-page {
        height: auto;
        padding: 20px;
    }

    h1 {
        font-size: 3.5rem;
    }

    .home-p {
        font-size: 1rem;
    }

    .btn {
        padding: 8px 30px;
        font-size: 12px;
    }

    #AboutUs {
        height: auto;
        padding: 100px 0;
    }

    h2 {
        font-size: 2.2rem;
        margin-left: 10%;
    }

    .about-us {
        font-size: 1rem;
    }

    #Team h3 {
        font-size: 2.5rem;
    }

    .team-description {
        font-size: 1rem;
    }

    .grid {
        gap: 60px;
    }

    .card {
        height: 400px;
    }

    .card-content {
        height: 80px;
        padding: 15px;
        width: 90%;
    }

    .name {
        font-size: 1rem;
    }

    .role {
        font-size: 0.9rem;
    }

    #HowItWorks h3 {
        font-size: 2.5rem;
    }

    .hit-description {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .navbar {
        width: 100%;
    }

    .navbar-brand {
        font-size: 16px;
    }

    .signin-button {
        font-size: 10px;
        padding: 6px 20px;
    }

    h1 {
        font-size: 2.5rem;
    }

    .home-p {
        font-size: 0.9rem;
    }

    .btn {
        padding: 6px 20px;
        font-size: 10px;
    }

    h2 {
        font-size: 1.8rem;
        margin-left: 5%;
    }

    .about-us {
        font-size: 0.9rem;
    }

    #Team h3 {
        font-size: 2rem;
    }

    .team-description {
        font-size: 0.9rem;
    }

    .grid {
        gap: 40px;
    }

    .card {
        height: 300px;
    }

    .card-content {
        height: 70px;
        padding: 10px;
        width: 85%;
    }

    .name {
        font-size: 0.9rem;
    }

    .role {
        font-size: 0.8rem;
    }

    #HowItWorks h3 {
        font-size: 2rem;
    }

    .hit-description {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .navbar-brand {
        font-size: 14px;
    }

    .signin-button {
        font-size: 8px;
        padding: 4px 15px;
    }

    h1 {
        font-size: 2rem;
    }

    .home-p {
        font-size: 0.7rem;
    }

    .btn {
        padding: 3px 10px;
        font-size: 6px;
    }

    h2 {
        font-size: 1.2rem;
        margin-left: 1%;
    }

    .about-us {
        font-size: 0.7rem;
    }

    #Team h3 {
        font-size: 1.2rem;
    }

    .team-description {
        font-size: 0.7rem;
    }

    .grid {
        gap: 10px;
    }

    .card {
        height: 200px;
    }

    .card-content {
        height: 50px;
        padding: 5px;
        width: 75%;
    }

    .name {
        font-size: 0.7rem;
    }

    .role {
        font-size: 0.6rem;
    }

    #HowItWorks h3 {
        font-size: 1.2rem;
    }

    .hit-description {
        font-size: 0.7rem;
    }
}